.gsd-keyboard.settings-ported
ModTheSpire/
NecroDancer/
QtProject.conf
UNDERTALE/
Unknown Organization/
asciinema/
cat_installer/
cef_user_data/
configstore/
dconf/
dlv/
enchant/
eog/
evolution/
gedit/
gh/
github-copilot/
gnome-initial-setup-done
go/
google-chrome/
gtk-3.0/
htop/
ibus/
libreoffice/
menus/
mimeapps.list
nautilus/
nextjs-nodejs/
nvim/
nvm/
obs-studio/
pavucontrol.ini
picom/
pulse/
systemd/
tree-sitter/
user-dirs.dirs
user-dirs.locale
vlc/
wezterm/
zoom.conf
zoomus.conf
tiling-assistant/
btop/
chromium/
i3-xdg-terminals.list
microsoft-edge/
teamviewer/
xdg-terminals.list
zsh/plugins/
.zcompdump
.zcompdump*
